.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

wordNikCred.txt
bin/
obj/
Properties/PublishProfiles/namrly-api - Web Deploy.pubxml.user
Properties/PublishProfiles/namrly-api - Web Deploy.pubxml
